@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Exercise 2: Database Query");

    //album variables
    var artistId = "0";
    var albumName = "";
    var releaseYear = "";
    var recordLabel = "";

    var theButton = Request.Form["TheButton"];

    //database
    var db = Database.Open("CHINOOK");

    //sql query
    var getArtistsQuery = "SELECT ArtistId, Name FROM Artists ORDER BY Name";

    //results
    var getArtistsResults = db.Query(getArtistsQuery);

    //make results a list and populate it
    List<SelectListItem> artistsList = new List<SelectListItem>();
    artistsList.Add(new SelectListItem
    {
        Value = "0",
        Text = "Select Artist"
    });
    foreach (var artist in getArtistsResults)
    {
        artistsList.Add(new SelectListItem
        {
            Value = artist.ArtistId.ToString(),
            Text = artist.Name
        });
    }

    //Validation
    Validation.Add("ArtistID",
        Validator.Required("The artist is required"));
    //Validation.Add("AlbumName",
    //    Validator.Required("The title is required"),
    //    Validator.StringLength(160, 1, "The title can be at most 160 characters"));
    //Validation.Add("ReleaseYear",
    //    Validator.Integer("The year must be a number"),
    //    Validator.Required("The year is required"),
    //    Validator.Range(1950, DateTime.Today.Year, "The year is required"));
    //Validation.Add("RecordLabel",
    //    Validator.StringLength(50, 0, "The label can be at most 50 characters"));
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    //get form fields
    artistId = Request.Form["ArtistId"];
    albumName = Request.Form["AlbumName"];
    releaseYear = Request.Form["ReleaseYear"];
    recordLabel = Request.Form["RecordLabel"];

    if (theButton.Equals("add", StringComparison.OrdinalIgnoreCase))
    {
        //check if form fields are valid
        if (Validation.IsValid())
        {
            //trycatch db query
            try
            {
                var createAlbum = "INSERT INTO Albums (Title, ArtistId, ReleaseYear, ReleaseLabel) VALUES(@0, @1, @2, @3)";
                db.Execute(createAlbum, albumName,
                    artistId.Equals("0") ? null : artistId,
                    releaseYear,
                    string.IsNullOrEmpty(recordLabel) ? null : recordLabel);
                //successful message
                <div class="col-12 text-center">
                    <p style="color:green;">
                        @albumName has been added
                    </p>
                </div>
            }
            catch (Exception ex)
            {
                <div class="col-12 text-center">
                    <p style="color:firebrick;">
                        Error: @ex.Message
                    </p>
                </div>
            }
        }
    }
    else
    {
        artistId = "0";
        albumName = "";
        releaseYear = "";
        recordLabel = "";
    }
}

<fieldset>
    <legend>Add an Album</legend>
    <form id="theform" method="post">
        <div class="row offset-1">
            <label class="label" for="AlbumName">Title: </label>
            <span>@Html.TextBox("Title", albumName)</span>
            @Html.ValidationMessage("AlbumName")
        </div>
        <div class="row offset-1">
            <label class="label" for="ArtistId">Artist: </label>
            <span>@Html.DropDownList("ArtistId", artistsList)</span>
            @Html.ValidationMessage("ArtistId")
        </div>
        <div class="row offset-1">
            <label class="label" for="ReleaseYear">Year: </label>
            <span>@Html.TextBox("ReleaseYear", releaseYear)</span>
            @Html.ValidationMessage("AlbumName")
        </div>
        <div class="row offset-1">
            <label class="label" for="RecordLabel">Label: </label>
            <span>@Html.TextBox("RecordLabel", recordLabel)</span>
            @Html.ValidationMessage("RecordLabel")
        </div>

        <div class="row offset-1">
            <button type="submit" id="TheButton" name="TheButton"
                    class="btn btn-primary" value="Add">
                Add
            </button>
            <button type="submit" id="TheButton" name="TheButton" formnovalidate
                    class="btn" value="Clear">
                Clear
            </button>
        </div>
    </form>
</fieldset>
@Html.ValidationSummary()