@{ 
    Layout = "~/_Layout.cshtml";
    Page.title = string.Format("Exercise 4 - Edit");

    var aid = Request.QueryString["aid"];
    if (aid.IsEmpty())
    {
        Response.Redirect("Exercise04_A.cshtml");
    }

    var albumid = Request.Form["AlbumId"];
    var title = Request.Form["Title"];
    var artistid = Request.Form["ArtistId"];
    var releaseyear = Request.Form["ReleaseYear"];
    var releaselabel = Request.Form["ReleaseLabel"];
    var thebutton = Request.Form["theButton"];

    var message = "";

    Validation.Add("Title",
        Validator.Required("Title is required"),
        Validator.StringLength(160, 0, "Title is limited to 160 characters"));
    Validation.Add("ArtistId",
        Validator.Integer("Aritst ID must be an integer"),
        Validator.Range(1, double.MaxValue, "Artist ID is required"));
    Validation.Add("ReleaseYear",
        Validator.Integer("Realease year must be an integer"),
        Validator.Required("Release year is required"),
        Validator.Range(1950, DateTime.Today.Year, $"Release Year must be between 1950 and {DateTime.Today.Year}"));
    Validation.Add("ReleaseLabel",
        Validator.StringLength(50, 0, "Release Label is limited to 50 characters"));

    if (!IsPost)
    {
        albumid = aid;
    }

    var db = Database.Open("CHINOOK");
    var artistStatement = "SELECT ArtistId, Name "
                        + "FROM Artists "
                        + "ORDER BY Name";
    var queryArtists = db.Query(artistStatement);

    var albumStatement = "SELECT AlbumId, Title, ArtistId, ReleaseYear, ReleaseLabel "
                        + "FROM Albums "
                        + "WHERE AlbumId = @0";
    var queryAlbums = db.QuerySingle(albumStatement, aid);
}

@section banner{
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    if (thebutton.Equals("backtosearch"))
    {
        Response.Redirect("Exercise4_A.cshtml");
    }

    if (Validation.IsValid())
    {
        try
        {
            if (thebutton.Equals("update"))
            {
                var update = "UPDATE Albums SET "
                            + "Title = @0, "
                            + "ArtistId = @1, "
                            + "ReleaseYear = @2, "
                            + "ReleaseLabel = @3 "
                            + "WHERE AlbumId = @4";
                var rowcount = db.Execute(update,
                    string.IsNullOrEmpty(title) ? null : title,
                    artistid.Equals("0") ? null : artistid,
                    string.IsNullOrEmpty(releaseyear) ? null : releaseyear,
                    string.IsNullOrEmpty(releaselabel) ? null : releaselabel,
                    albumid);
                if (rowcount != 0)
                {
                    message = "Album has been UPDATED";
                }
                else
                {
                    message = "Album NOT found";
                }
            }
            else if (thebutton.Equals("delete"))
            {
                var delete = "DELETE Albums WHERE AlbumId = @0";
                var rowcount = db.Execute(delete, albumid);
                if (rowcount != 0)
                {
                    message = "Album has been DELETED";
                }
                else
                {
                    message = "Album NOT found";
                }
            }
            albumid = "";
            title = "";
            artistid = "0";
            releaseyear = "";
            releaselabel = "";
        }
        catch (Exception ex)
        {
            <div class="col-12 text-center">
                <p style="color:firebrick; font-size:large">
                    Processing Error: @ex.Message
                </p>
            </div>
        }
    }
}
else
{
    albumid = queryAlbums.AlbumId.ToString();
    title = queryAlbums.Title;
    artistid = queryAlbums.ArtistId == null ? "0" : queryAlbums.ArtistId.ToString();
    releaseyear = queryAlbums.ReleaseYear == null ? "" : queryAlbums.ReleaseYear.ToString();
    releaselabel = queryAlbums.ReleaseLabel;
}
@Html.ValidationSummary()

<div class="col-12 text-center">
    <p style="color:green">
        @message
    </p>
</div>
<form id="theForm" action="" method="post">
    <div class="row row-cols-2">
        <div class="col text-right">
            <label id="lblAlbumId" for="AlbumId">Album ID</label>
        </div>
        <div class="col text-left">
            <input type="text" name="AlbumId" value="@albumid" readonly />
        </div><br />
        <div class="col text-right">
            <label id="lblTitle" for="Title">Title</label>
        </div>
        <div class="col text-left">
            <input type="text" name="Title" value="@title" />
        </div><br />
        <div class="col text-left">
            <select name="ArtistList">
                <option value="0">select...</option>
                @foreach (var acollectionrow in queryArtists)
                {
                    if (acollectionrow.SupplierID.ToString() == artistid)
                    {
                        <option value="@acollectionrow[0]" selected>@acollectionrow[1]</option>
                    }
                    else
                    {
                        <option value="@acollectionrow[0]">@acollectionrow[1]</option>
                    }
                }
            </select>
        </div><br />
        <div class="col text-right">
            <label id="lblReleaseYear" for="ReleaseYear">Release Year</label>
        </div>
        <div class="col text-left">
            <input type="number" name="ReleaseYear" value="@releaseyear" step="1" />
        </div><br />
        <div class="col text-right">
            <label id="lblReleaseLabel" for="ReleaseLabel">ReleaseLabel</label>
        </div>
        <div class="col text-left">
            <input type="text" name="ReleaseLabel" value="@releaselabel" />
        </div><br />
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button type="submit" name="theButton" id="theUpdate" class="btn btn-primary"
                    value="update">
                Update
            </button>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="theButton" id="theDiscontinue" class="btn btn-primary" formnovalidate
                    value="discontinue">
                Discontinue
            </button>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="theButton" id="theDelete" class="btn btn-primary" formnovalidate
                    value="delete">
                Delete Record
            </button>&nbsp;&nbsp;&nbsp;
            <button type="submit" name="theButton" id="theCancel" class="btn btn-primary" formnovalidate
                    value="backtosearch">
                Back to Search
            </button>
        </div>
    </div>
</form>