@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("{0}: Basic form Processing", "Exercise01");
    var myname = "";
    string choices = "";
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    
    var thebutton = Request.Form["theButton"];
    myname = Request.Form["dataentry"];
    choices = Request.Form["meal-items"];
    if (thebutton.Equals("submit", StringComparison.OrdinalIgnoreCase))
    {
        //No name, No food
        if (string.IsNullOrEmpty(myname) && choices.IsEmpty())
        {
            <p style="color: firebrick;">Nothing was entered</p>
            choices = "";
        }
        //Name, no food
        else if (!string.IsNullOrEmpty(myname) && choices.IsEmpty())
        {
            <p style="color: firebrick;">@myname, you didn't select any food.</p>
            choices = "";
        }
        //No name, food
        else if (string.IsNullOrEmpty(myname) && !choices.IsEmpty())
        {
            <p style="color: firebrick;">A name needs to be entered to select food</p>
        }
        else
        {
            //Name and choices
            <p>
                @myname, likes:
                <ul>
                    @foreach(var menuItem in choices.Split(','))
                    {
                        <li> @menuItem </li>
                    }
                </ul>
            </p>

        }
    }
    else
    {
        myname = "";
        choices = "";
        <p>You pressed the reset button</p>
    }
}

@*TODO SPACING*@
<form id="theform" method="post">
    <div class="row">
        <div class="offset-1 col-xs-3">
            <label id="label1" for="dataentry">Customer Name:</label>&nbsp;&nbsp;
            <input type="text" id="dataentry" name="dataentry"
                    value="@myname" />
        </div>
        <div class="offset-1 col-xs-9">
            <label id="meal-items-label"><strong>Choice your meal items</strong></label><br/>
            <input type="checkbox" id="meal-items" name="meal-items" value="steak"
                    @(Array.IndexOf(choices.Split(','), "Steak") >= 0?"checked":"")/> Steak<br />
            <input type="checkbox" id="meal-items" name="meal-items" value="seafood"
                    @(Array.IndexOf(choices.Split(','), "Seafood") >= 0 ? "checked" : "") /> Seafood<br />
            <input type="checkbox" id="meal-items" name="meal-items" value="vegtables"
                    @(Array.IndexOf(choices.Split(','), "Vegtables") >= 0 ? "checked" : "") /> Vegtables<br /><br />
        </div>
    </div>
    <div class="row offset-1">
        <button type="submit" id="theButton" name="theButton"
                value="submit" class="btn btn-primary">
            Submit
        </button>&nbsp;&nbsp;
        <button type="submit" id="theButton" name="theButton"
                value="reset" class="btn btn-light">
            Reset
        </button>
    </div>
</form>
